@charset "UTF-8";
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2.6rem;
}

@media screen and (max-width: 425px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos-relativ {
  position: relative;
}

.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

span {
  display: inline-block;
}

.guillemet::before {
  content: '«';
}

.guillemet::after {
  content: '»';
}

/* container max width -------------------  */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 900px;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 21px;
  }
}

.header {
  margin: 0 auto;
}

.header__inner {
  width: 100%;
  margin: 60px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .header__inner {
    margin: 21px 0 100px 0;
  }
}

.header__logo {
  max-width: 180px;
}

.header__logo img {
  vertical-align: middle;
}

@media screen and (max-width: 425px) {
  .header__logo img {
    height: 23px;
  }
}

.header__link {
  color: #ff52bf;
  border: 2px solid #ff52bf;
  border-radius: 20px;
  padding: 8px 24px;
}

@media screen and (max-width: 425px) {
  .header__link {
    padding: 4px 16px;
  }
}

.header__link:hover {
  color: #ff8fd8;
  border-color: #ff8fd8;
}

/* main -------------------  */
.main {
  position: relative;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section-header {
  text-align: center;
  margin-bottom: 7rem;
}

.section-header__text {
  margin: 0 auto;
  max-width: 460px;
  margin-bottom: 2rem;
}

.button {
  color: #fff;
  background-color: #ff52bf;
  padding: 24px 75px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 425px) {
  .button {
    padding: 12px 35px;
  }
}

.button:hover {
  background-color: #ff8fd8;
}

.header-ilustration {
  margin: 0 auto 70px;
  max-width: 760px;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .numbers ul {
    margin: 0 auto;
  }
}

.numbers ul li {
  margin-bottom: 30px;
}

.numbers__icon img {
  height: 30px;
}

.numbers__header {
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 0;
}

.numbers__subheader {
  color: grey;
}

.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature1::before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 165px;
  background-image: url("../images/bg-section-top-desktop-1.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

@media screen and (max-width: 425px) {
  .feature1::before {
    background-image: url("../images/bg-section-top-mobile-1.svg");
  }
}

.feature1::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 165px;
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

@media screen and (max-width: 425px) {
  .feature1::after {
    background-size: contain;
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
  }
}

.feature3::before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 165px;
  background-image: url("../images/bg-section-top-desktop-2.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

@media screen and (max-width: 425px) {
  .feature3::before {
    background-image: url("../images/bg-section-top-mobile-2.svg");
  }
}

.feature3::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 165px;
  background-image: url("../images/bg-section-bottom-desktop-2.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

@media screen and (max-width: 425px) {
  .feature3::after {
    background-size: contain;
    background-image: url("../images/bg-section-bottom-mobile-2.svg");
  }
}

.features__inner {
  margin: 50px 0;
  background-color: #f5faff;
}

@media screen and (max-width: 425px) {
  .features__inner {
    text-align: center;
  }
}

.features__inner:nth-child(2n) {
  background-color: white;
}

.features__inner:nth-child(2n) .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 425px) {
  .features__inner:nth-child(2n) .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.features__inner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

@media screen and (max-width: 425px) {
  .features__inner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.features__text {
  max-width: 385px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.features__text h2 {
  margin-bottom: 2rem;
}

.features__text p {
  font-size: 12px;
  line-height: 1.2rem;
  color: gray;
}

.features__img {
  max-width: 50%;
}

@media screen and (max-width: 425px) {
  .features__img {
    max-width: 100%;
    margin-bottom: 60px;
  }
}

.bottom-section {
  text-align: center;
  margin-bottom: 290px;
}

/* ----------------- footer -------------------  */
.footer {
  background-image: url("../images/bg-footer-top-desktop2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  margin: 0 auto;
  padding: 200px 0 76px;
}

@media screen and (max-width: 425px) {
  .footer {
    background-size: 120%;
    background-image: url("../images/bg-footer-top-mobile.svg");
    padding-bottom: 20px;
  }
  .footer .container {
    background-color: #00252e;
  }
}

.footer .flex-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .footer .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__links-side {
  max-width: 250px;
}

.footer__logo,
.footer__text {
  margin-bottom: 20px;
}

.footer__logo img,
.footer__text img {
  fill: white;
  height: 33px;
}

.footer__contacts {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts img {
  margin-right: 10px;
  vertical-align: middle;
}

.footer__contacts li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__social-links li {
  margin-right: 20px;
}

.footer__social-links li:hover svg path {
  fill: #00C7FF;
}

.footer__form-side {
  width: 400px;
  max-width: 400px;
}

@media screen and (max-width: 425px) {
  .footer__form-side {
    width: auto;
  }
}

.footer__form-side h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer__form-side p {
  max-width: 280px;
  margin-bottom: 20px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .footer__form {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 425px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__form input {
  border-radius: 4px;
  line-height: 2rem;
}

.footer__form_input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 240px;
          flex: 0 1 240px;
  padding: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .footer__form_input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 10px;
  }
}

.footer__form_submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 120px;
          flex: 0 1 120px;
  background-color: #ff52bf;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .footer__form_submit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 40%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.footer__form_submit:hover {
  background-color: #ff8fd8;
}
