@import "_colors";

body {
    font-size: 16px;
    font-family: 'Open Sans',
        sans-serif;
    line-height: 1.5rem;
    // font-weight: 400-600-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: 'Poppins',
        sans-serif;
    margin-bottom: 2.6rem;

    @media screen and (max-width: 425px) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relativ {
    position: relative;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

span {
    display: inline-block;
}

.guillemet {

    &::before {
        content: '«';
    }

    &::after {
        content: '»';
    }
}

/* container max width -------------------  */

.container {
    width: 100%;
    margin: 0 auto;
    // padding: 0 1.5rem;
    max-width: 890px;
}

.header {
    margin: 0 auto;
}

.header__inner {
    margin: 60px -30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.header__logo {
    max-width: 180px;
}

.header__link {
    color: $pink;
    border: 2px solid $pink;
    border-radius: 20px;
    padding: 8px 24px;
    // line-height: 2rem;

    &:hover {
        color: $lightPink;
        border-color: $lightPink;
    }
}

/* main -------------------  */
.main {
    margin: 0 auto;
    flex: 1 1 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 7rem;
}

.section-header__text {
    margin: 0 auto;
    max-width: 460px;
    margin-bottom: 2rem;
}

.button {
    color: #fff;
    background-color: $pink;
    padding: 24px 75px;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: $lightPink;
    }
}

/* footer -------------------  */
.footer {
    margin: 0 auto;
}