@import "_colors";

body {
    font-size: 16px;
    font-family: 'Open Sans',
        sans-serif;
    line-height: 1.5rem;
    // font-weight: 400-600-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: 'Poppins',
        sans-serif;
    margin-bottom: 2.6rem;

    @media screen and (max-width: 425px) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relativ {
    position: relative;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

span {
    display: inline-block;
}

.guillemet {

    &::before {
        content: '«';
    }

    &::after {
        content: '»';
    }
}

/* container max width -------------------  */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 900px;

    @media screen and (max-width:425px) {
        padding: 0 21px;
    }

}

.header {
    margin: 0 auto;
}

.header__inner {

    width: 100%;
    margin: 60px -30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width:1024px) {

        margin: 21px 0 100px 0;
    }


}

.header__logo {
    max-width: 180px;

    img {

        vertical-align: middle;
    }

    @media screen and (max-width:425px) {
        img {

            height: 23px;
        }

        // width: 100%;
    }
}

.header__link {
    color: $pink;
    border: 2px solid $pink;
    border-radius: 20px;
    padding: 8px 24px;

    @media screen and (max-width:425px) {
        padding: 4px 16px;
    }

    &:hover {
        color: $lightPink;
        border-color: $lightPink;
    }
}

/* main -------------------  */
.main {
    position: relative;
    margin: 0 auto;
    flex: 1 1 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 7rem;
}

.section-header__text {
    margin: 0 auto;
    max-width: 460px;
    margin-bottom: 2rem;
}

.button {
    color: #fff;
    background-color: $pink;
    padding: 24px 75px;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    @media screen and (max-width:425px) {
        padding: 12px 35px;
    }

    &:hover {
        background-color: $lightPink;
    }
}

.header-ilustration {
    margin: 0 auto 70px;
    max-width: 760px;
}

// ----------- numbers --------------

.numbers {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width:500px) {
        flex-direction: column;

        ul {
            margin: 0 auto;
        }
    }


    ul {
        li {
            margin-bottom: 30px;
        }
    }
}

.numbers__icon {
    img {
        height: 30px;
    }
}

.numbers__header {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 0;

}

.numbers__subheader {
    color: grey;
}

// ------------ features ------------------
.features {
    position: relative;
    display: flex;
    flex-direction: column;

}

.feature1 {
    &::before {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 165px;
        background-image: url("../images/bg-section-top-desktop-1.svg");


        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;

        @media screen and (max-width:425px) {
            background-image: url("../images/bg-section-top-mobile-1.svg");
        }
    }

    &::after {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 165px;
        background-image: url("../images/bg-section-bottom-desktop-1.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;

        @media screen and (max-width:425px) {
            background-size: contain;
            background-image: url("../images/bg-section-bottom-mobile-1.svg");
        }
    }
}

.feature3 {
    &::before {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 165px;
        background-image: url("../images/bg-section-top-desktop-2.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;

        @media screen and (max-width:425px) {
            // background-size: contain;
            background-image: url("../images/bg-section-top-mobile-2.svg");
        }
    }

    &::after {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 165px;
        background-image: url("../images/bg-section-bottom-desktop-2.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;

        @media screen and (max-width:425px) {
            background-size: contain;
            background-image: url("../images/bg-section-bottom-mobile-2.svg");
        }
    }
}

.features__inner {
    margin: 50px 0;
    background-color: $veryPaleBlue;

    @media screen and (max-width:425px) {
        text-align: center;
    }

    &:nth-child(2n) {
        background-color: white;

        .container {
            flex-direction: row-reverse;

            @media screen and (max-width:425px) {
                flex-direction: column-reverse;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        @media screen and (max-width:425px) {
            flex-direction: column-reverse;
        }


    }
}

.features__text {
    max-width: 385px;
    align-self: center;

    h2 {
        margin-bottom: 2rem;
    }

    p {
        font-size: 12px;
        line-height: 1.2rem;
        color: gray;
    }
}

.features__img {
    max-width: 50%;

    @media screen and (max-width:425px) {
        max-width: 100%;
        margin-bottom: 60px;
    }
}


.bottom-section {
    text-align: center;
    margin-bottom: 290px;
}

/* ----------------- footer -------------------  */
.footer {
    background-image: url("../images/bg-footer-top-desktop2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12px;
    margin: 0 auto;
    padding: 200px 0 76px;

    @media screen and (max-width:425px) {
        background-size: 120%;
        background-image: url("../images/bg-footer-top-mobile.svg");
        padding-bottom: 20px;

        .container {
            background-color: $veryDarkCyan;
        }
    }

    .flex-row {
        justify-content: space-between;

        @media screen and (max-width:500px) {
            flex-direction: column-reverse;
        }
    }


}

.footer__links-side {
    max-width: 250px;
}

.footer__logo,
.footer__text {
    margin-bottom: 20px;

    img {
        fill: white;
        height: 33px;
    }
}

.footer__contacts {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    img {
        margin-right: 10px;
        vertical-align: middle;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    // flex-direction: column;

}

.footer__social-links {
    display: flex;
    margin-bottom: 20px;

    li {
        margin-right: 20px;

        &:hover {

            svg path {
                fill: #00C7FF;
            }
        }
    }

}

.footer__form-side {
    width: 400px;
    max-width: 400px;

    @media screen and (max-width:700px) {
        margin-bottom: 80px;
    }

    @media screen and (max-width:425px) {
        width: auto;
    }

    h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    p {
        max-width: 280px;
        margin-bottom: 20px;
    }
}

.footer__form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    @media screen and (max-width:425px) {
        flex-direction: column;
    }

    input {
        border-radius: 4px;
        line-height: 2rem;
    }
}

.footer__form_input {
    flex: 0 1 240px;
    padding: 0 10px;
    cursor: pointer;




    @media screen and (max-width:425px) {
        flex: 0 1 auto;
        margin-bottom: 10px;
    }
}

.error {
    border: 1px solid $lightRed;
}

.error-msg {
    &::after {
        position: absolute;
        content: 'Check your email please';
        display: block;
        color: $lightRed;
        left: 0;
        top: 30px;
    }
}

.footer__form_submit {
    flex: 0 1 120px;
    background-color: $pink;
    color: white;
    cursor: pointer;


    @media screen and (max-width:425px) {
        flex: 0 1 auto;
        width: 40%;
        // margin-left: 0;
        align-self: flex-end;



    }

    &:hover {
        background-color: $lightPink;
    }

}