@import "_colors";

body {
    font-size: 16px;
    font-family: 'Open Sans',
        sans-serif;
    line-height: 1.5rem;
    // font-weight: 400-600-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: 'Poppins',
        sans-serif;
    margin-bottom: 2.6rem;

    @media screen and (max-width: 425px) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relativ {
    position: relative;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

span {
    display: inline-block;
}

.guillemet {

    &::before {
        content: '«';
    }

    &::after {
        content: '»';
    }
}

/* container max width -------------------  */

.container {
    width: 100%;
    margin: 0 auto;
    // padding: 0 1.5rem;
    max-width: 890px;
}

.header {
    margin: 0 auto;
}

.header__inner {
    margin: 60px -30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.header__logo {
    max-width: 180px;
}

.header__link {
    color: $pink;
    border: 2px solid $pink;
    border-radius: 20px;
    padding: 8px 24px;
    // line-height: 2rem;

    &:hover {
        color: $lightPink;
        border-color: $lightPink;
    }
}

/* main -------------------  */
.main {
    margin: 0 auto;
    flex: 1 1 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 7rem;
}

.section-header__text {
    margin: 0 auto;
    max-width: 460px;
    margin-bottom: 2rem;
}

.button {
    color: #fff;
    background-color: $pink;
    padding: 24px 75px;
    border-radius: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: $lightPink;
    }
}

.header-ilustration {
    margin: 0 auto 70px;
    max-width: 760px;
}

.numbers {
    display: flex;
    justify-content: space-around;

    ul {
        li {
            margin-bottom: 30px;
        }
    }
}

.numbers__icon {
    img {
        height: 30px;
    }
}

.numbers__header {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 0;

}

.numbers__subheader {
    color: grey;
}


.features {
    display: flex;
    flex-direction: column;

}

.features__inner {
    display: flex;
    justify-content: space-between;
    background-color: $veryPaleBlue;

    &:nth-child(2n) {
        flex-direction: row-reverse;
        background-color: white;
    }
}

.features__text {
    max-width: 385px;
    align-self: center;

    h2 {
        margin-bottom: 2rem;
    }

    p {
        font-size: 12px;
        line-height: 1.2rem;
        color: gray;
    }
}

.features__img {
    max-width: 50%;
}


.bottom-section {
    text-align: center;
}

/* footer -------------------  */
.footer {
    background-color: $veryDarkCyan;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12px;
    margin: 0 auto;
    padding: 76px 0;

    .flex-row {
        justify-content: space-between;
    }
}

.footer__links-side {
    max-width: 250px;
}

.footer__logo,
.footer__text {
    margin-bottom: 20px;

    img {
        fill: white;
        height: 33px;
    }
}

.footer__contacts {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    img {
        margin-right: 10px;
        vertical-align: middle;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    // flex-direction: column;

}

.footer__social-links {
    display: flex;

    li {
        margin-right: 20px;

        &:hover {

            svg path {
                fill: #00C7FF;
            }
        }
    }

}

.footer__form-side {
    width: 400px;

    h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    p {
        max-width: 280px;
        margin-bottom: 20px;
    }
}

.footer__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        border-radius: 4px;
        line-height: 2rem;
    }
}

.footer__form_input {
    flex: 0 1 240px;
    padding: 0 10px;

    cursor: pointer;
}

.footer__form_submit {
    flex: 0 1 120px;
    background-color: $pink;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: $lightPink;
    }

}